body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  background-image: url("598.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#app {
  max-width: 400px;
  margin: 13rem auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.description-wrapper {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  color: #333;
}

.filter-wrapper {
  display: flex;
  margin-bottom: 5px;
}

.filter-wrapper input[type="radio"] {
  margin-right: 5px;
}

#btn-remove {
  background-color: #e74c3c;
  color: #fff;
  margin: 5px;
}

#btn-remove:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }
}
